{% extends "base.html" %}
{% block title %}Game{% endblock %}
{% block content %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | Database Management Term Project</title>
    <link rel="shortcut icon" href="TemplateData/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='TemplateData/style.css') }}">
    <script src="{{ url_for('static', filename='TemplateData/UnityProgress.js') }}"></script>
    <script src="{{ url_for('static', filename='Build/UnityLoader.js') }}"></script>
      <script>
        var unityInstance = UnityLoader.instantiate("unityContainer", "{{ url_for('static', filename='Build/Builds.json') }}", { onProgress: UnityProgress });
             function updateRank(value) {
            setTimeout(() => { unityInstance.SendMessage("Player", "SetRank", 1); }, 2000);
        }

        function updateTeam(value) {
            setTimeout(() => { unityInstance.SendMessage("Main Camera", "SetTeam", value); }, 2000);
        }

        updateTeam({{ data|safe }});
    </script>
  </head>
  <body>
    <div class="webgl-content">
      <div id="unityContainer" style="width: 960px; height: 600px"></div>
      <div class="footer">
        
        <!--<div class="webgl-logo"></div>
        <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
        <div class="title">Database Management Term Project</div> -->

      </div>
    </div>

  </body>
{% endblock %}